body{
    overflow-x: hidden;
}

.navbar .nav-item.active{
    border-left:  2px solid white;
}

.navbar .nav-link{
    padding-left: 1rem !important;
       text-transform: uppercase;
       padding-right: 1rem;
       font-size: 14px;
}

.carousel-item{
    height: 450px;
}

.corousel-image-1{
    background: url('../../boiler-plate/image/glozzom/image1.jpg');
    background-size: cover;

}
.corousel-image-2{
    background: url('../../boiler-plate/image/glozzom/image2.jpg');
    background-size: cover;

}
.corousel-image-3{
    background: url('../../boiler-plate/image/glozzom/image3.jpg');
    background-size: cover;

}

#home-section{
    position: relative;
    min-height: 200px;
    background: url('../../boiler-plate/image/glozzom/lights.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
    text-align: center;
  color: #fff;
}

.dark-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
}

#video-play{
    position: relative;
    color: #fff;
    min-height: 200px;
    background: url('../../boiler-plate/image/glozzom/media.jpg');
      background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 0 -300px;
  text-align: center;


}

#video-play i{
    color: #fff;
    padding-bottom: 10px;
}

#about-header{

    background: url('../../boiler-plate/image/glozzom/image1.jpg');
    background-repeat: no-repeat;
    background-position: 0 -100px;
    background-attachment: fixed;

}

#about img{
    margin-top: -50px;
}