img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.bg-black{
    background-color: #000;
    color: #fff;
}

#main-header .port-item:hover{
    opacity: 0.8;
    cursor: pointer;
}

#work .col{
    height: 220px;
}

@media(min-width:1199px){
    #main-header .port-item{
        padding: 3em !important;
    }
}